.hidden {
    display: none !important;
}

body {
    /* max-width: 1200px; */
    min-width: 600px;
    height: fit-content;
    min-height: 100vh;
    font-size: 20px;
}

header {
    display: flex;
    justify-content:space-between;
    background-color: black;
    height: 120px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 20px;
}

h1 {
    font-style: italic;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

main {
  background-image: url("images/Hogwarts-PNG-HD-Image.png");
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 20px; 
}

ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

#pages-link, #login-link, #logout-link, #pages__list, #back-to-pages_List, #commentText-button {
    cursor: pointer;
}

#login-page, #authorization-block, #authorization-form  {
    display: flex;
}

#authorization-block {
    height: fit-content;
    align-items: flex-end;
}

#login-page {
    flex-direction: column;
}

#menu {
    margin-bottom: 0px;
}

input, button, #username, #error-message, #user-error-message {
    margin-left: 10px;
}

#logo {
    width: 80px;
    height: 80px;
    filter: grayscale(90%);
}


#error-message, #user-error-message {
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}

#page {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#back-to-pages_List {
    margin-top:40px;
    bottom: 0; 
}

#commentsArea {
    margin-top:80px;
    display: grid;
    width: 400px;
    height: fit-content;
    flex-grow: 1;
}

#commentText {
    height: 80px;
    resize: none;
    overflow-wrap: break-word;
}

#commentText-button {
    margin-top:10px;
    width: 60px;
    justify-self: right;
}

#leftedComments {
    margin-top:10px;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word; /* Переносит длинные слова */
    word-break: break-word; /* Поддержка старых браузеров */
    white-space: normal; /* Перенос текста на несколько строк */
}

#leftedComments li {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    list-style-type: none; 
    padding: 5px 0;
}
